body{
    margin: 0;
}
.container-login{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
    height: 500px;
    margin-top: 50px;
    background: #fff;
    padding-bottom: 30px;
}
.header-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}
.underline{
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}
.inputs-login{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input-login{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}
.inputs-login .img-login{
    margin: 0px 30px;
}
.input-login input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4200b4;
    border-radius: 50px;
    border: none;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.link{
    text-decoration: none;
}
.submit:hover{
    background: #8745fa;
    color: #fff;
}